.signin{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #43B79D;
    border-width: 2px;
    color: #43B79D;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* #8ad7ee */

  .prev{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #e0d9c8;
    border-width: 2px;
    color: #e0d9c8;
  }

  .home{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #e0d9c8;
    border-width: 2px;
    color: #e0d9c8;
  }

  .next{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #e0d9c8;
    border-width: 2px;
    color: #e0d9c8;
  }

  .quiz{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #e0d9c8;
    border-width: 2px;
    color: #e0d9c8;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #FFC861;
    border-color: #FFC861;
}
/* background-color: #ffcdc9;
    border-color: #e49689 */