.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #FFC861 solid;
  }
  
  .row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #efefef solid;
  }
  
  .row-striped {
      padding: 15px 5%;
  }

  .badge-secondary {
    color: #fff;
    background-color: #a3d4d3;
}